/*Modo oficial de css */


h3{
  font-size: 30px;
  font-family: 'Moon Dance', cursive;
  text-align: center;
  color:rgb(67, 49, 145);
  text-align: center;
  background-color: rgb(255, 255, 255); 
 
}
/* usando id en etiqueta h2,ul,ol*/
#titulo{
  color: blue;
  font-size: 35px;
  font-family: 'Moon Dance', cursive;
  text-align: center;
  background-color: rgb(255, 255, 255); 

  
}
#lis-aman{
font-size: 15px;
font-family: cursive;
color: blue

}
#lis-odian{
  font-size: 15px;
  font-family: cursive;
  color: blue
}
p{
  color:black;
  text-align: center;
  background-color: rgb(255, 255, 255); 
  font-family: Arial, Helvetica, sans-serif;
}

/*Selecector de clase*/

.col{ 
  color : blueviolet;

}
/*Modificar el tamaño de las imagenes con css*/
img{
  width: 200px;
  margin: 15px;
  padding: 10px;
  border-color: blue;
  background-color: black;
  border-style: dashed;
  border-width: 10px;
  height: 180px;
  border-radius: 100px;
}
/*clase para bordes redondeados, solo agregar la clase en el html*/
.bordes-redondeados{
  border-radius: 100px;
}
/*decoramos x atributo un enlace*/
a[href="https://github.com/Karla-QD"]{
 color:blue;
 /*text-decoration: blue wavy underline; subrayar*/
 
}

/*unidades 
#contenedor{
  color : black;
  padding:5px;
  font-size: 25px;
  background-color: midnightblue;
  border-style: dashed;
}
.rectangulo{
  padding: 5px;
  margin: 5px;
  background: blueviolet;
  border-style:borded;
  width: 200px;
}
.px{
  background-color: coral;
  width: 200px;
}
es relativa al tama de la letra
.em{
  background-color: limegreen;
  width: 180px;
}
vw es relativaz al tama de la pantalla del dispositivo 
.vw{
  background-color: bisque;
  width: 100px;
}*/
/*Pondra un color de fondo al contened
div{
  background-color: lightblue;
}*/

/*Para modificar una imagen en especial se pone dentro de la imagen en el archivo html el atributo class se le asigna un nombre
y con ese nombre en el css se pone .nombre-dado {tamaño deseado}*/
/*ul{color:blueviolet;*/
/*ol{color:blueviolet;*/
